@CHARSET "UTF-8";
.active-link {
	color: red;
}
.red-text {
	color: red;
}

.btn {
	margin: 0;
	overflow: visible;
	text-transform: none;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	transition: all .15s ease-in-out;
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5;
	border-radius: .2rem;
}

.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-danger {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}